// img {
//     width: 300px;
//     height: 100px;
//     // width: 180px;
//     margin:0px;
//     padding: 0px;
//     transform: rotate(-16deg);
// }

img {
    position: absolute;
    // width: 280px;
    // height: 128px;
    height: 64px;
width: 128px;
left: 204px;
top: 96px;
border-radius: 0px;
left:21%

    // width: 17,5rem;
    // height: 8rem;
    // left: 204px;
    // top: 72px;

}

// position: absolute;
// top: 40%;
// left: 50%;
// transform: translate(-50%, -50%);
// text-align: center;
// color: #fff;
// font-size:56px;
// font-weight: bold;