// img {
//     width: 300px;
//     height: 100px;
//     // width: 180px;
//     margin:0px;
//     padding: 0px;
//     transform: rotate(-16deg);
// }

img {
    position: absolute;
    width: 280px;
    height: 128px;
    left: 204px;
    top: 72px;

}