<section class="transfers">
    <h1>{{'HOME.TRANSFERS' | translate }}</h1>
  <br>
  
    <div class="card-container">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="car-photo" src="/assets/images/jeep.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/car.svg" alt="location">
                  <h5 class="card-title">Jeep</h5>
                </div>
                <div class="second">
                  <p class="card-text">Price: 1000$</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/person.svg" alt="airplain">
                <p class="card-date">Passanger - 4</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="car-photo"  src="/assets/images/miniven.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/car.svg" alt="location">
                  <h5 class="card-title">Miniven</h5>
                </div>
                <div class="second">
                  <p class="card-text">Price: 1000$</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/person.svg" alt="airplain">
                <p class="card-date">Passanger - 8</p>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
  </section>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  