<section class="blog">
    <div class="row">
      <h1>{{'HOME.BLOG' | translate }}</h1>


      <div>
        <img src="/assets/images/blog.svg" class="img" alt="blog">
      </div>
  
    <div>
      <!-- <h1>{{'HOME.BLOG' | translate }}</h1> -->
      <h3>{{'HOME.BEST' | translate }} 2023</h3>
      <p class="col-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur consequuntur iusto, fuga quam porro cupiditate eaque velit nemo! Perspiciatis obcaecati tenetur cum ad? Distinctio reprehenderit quod itaque temporibus adipisci molestias.      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur consequuntur iusto, fuga quam porro cupiditate eaque velit nemo! Perspiciatis obcaecati tenetur cum ad? Distinctio reprehenderit quod itaque temporibus adipisci molestias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur consequuntur iusto, fuga quam porro cupiditate eaque velit nemo! Perspiciatis obcaecati tenetur cum ad? Distinctio reprehenderit quod itaque temporibus adipisci molestias.
  
  
      </p>
      </div>
  
  
  </div>
</section>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
