section{
  margin-left: 204px;
  margin-top:2rem;

img {
  width: 744px;
  height: 568px;
  border-radius: 8px;
  margin-top: 4rem;
  display: flex;
    
}

h1{
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
font-size: 56px;

}

// h1 {
//   margin-top: 4rem;
//   // margin-bottom: 4rem;
//   height: 76px;
//   font-family: 'Nunito';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 56px;
//   line-height: 76px;
//   display: flex;
//   align-items: flex-end;
//   text-align: center;
//   margin-top: 4rem;
//   left: 996px;
//   position: absolute;
//   color: #000000;
//   margin-bottom:8rem;
//   bottom: 400px;
// }

  h3 {
  height: 44px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  margin-top: 12rem;
  left: 996px;
  position: absolute;
  bottom:350px;
}
  
p{

  
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  left: 996px;
  margin-top: 176px;
  color: #000000;
  margin-top:17rem;
  top: 320px;
  position: absolute;


  
}
  


}
  