
 <section class="outbound-tours">
  <h1>{{'HOME.OUTBOUND' | translate }}</h1>

    <div class="card-container">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/paris.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.PARIS' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text">{{ 'HOME.PRICE' | translate }} : 1000$</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/bali.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.BALI' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text">{{ 'HOME.PRICE' | translate }} : 1000$</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/italy.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.ITALY' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text">{{ 'HOME.PRICE' | translate }} : 1000$</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/italy2.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.ITALY' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text">{{ 'HOME.PRICE' | translate }} : 1000$</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
  

  <div>
    
  </div>

</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
