<section class="local-tours">
  <h1>{{'HOME.LOCAL' | translate }}</h1>
<br>

  <div class="card-container">
    <div class="row">
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="/assets/images/local1.svg" alt="Card image cap">
          <div class="card-body">
            <div class="first-line">
              <div class="first">
                <img  src="/assets/icons/location.svg" alt="location">
                <h5 class="card-title">{{'HOME.KAKHETI' | translate }}</h5>
              </div>
              <div class="second">
                <p class="card-text">{{ 'HOME.PRICE' | translate }} : 200₾</p>
              </div>
            </div>
            <div class="second-line">
              <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
              <p class="card-date">01.10.2023</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="/assets/images/local3.svg" alt="Card image cap">
          <div class="card-body">
            <div class="first-line">
              <div class="first">
                <img  src="/assets/icons/location.svg" alt="location">
                <h5 class="card-title">{{'HOME.KAZBEGI' | translate }}</h5>
              </div>
              <div class="second">
                <p class="card-text">{{ 'HOME.PRICE' | translate }} : 500₾</p>
              </div>
            </div>
            <div class="second-line">
              <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
              <p class="card-date">01.10.2023</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="/assets/images/local4.svg" alt="Card image cap">
          <div class="card-body">
            <div class="first-line">
              <div class="first">
                <img  src="/assets/icons/location.svg" alt="location">
                <h5 class="card-title">{{'HOME.BATUMI' | translate }}</h5>
              </div>
              <div class="second">
                <p class="card-text">{{ 'HOME.PRICE' | translate }} : 1000₾</p>
              </div>
            </div>
            <div class="second-line">
              <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
              <p class="card-date">01.10.2023</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="/assets/images/ananuri.svg" alt="Card image cap">
          <div class="card-body">
            <div class="first-line">
              <div class="first">
                <img  src="/assets/icons/location.svg" alt="location">
                <h5 class="card-title">{{'HOME.ANANURI' | translate }}</h5>
              </div>
              <div class="second">
                <p class="card-text">{{ 'HOME.PRICE' | translate }} : 100₾</p>
              </div>
            </div>
            <div class="second-line">
              <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
              <p class="card-date">01.10.2023</p>
            </div>
          </div>
        </div>
      </div>
</div>
</div>

</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
