<section>
    <div class="content">
        <div>
            <img src="/assets/images/photo-about-us.svg" alt="about-us" class="about-us" > 
    
        </div>
        <div class="text">
            <h1>{{'HOME.ABOUT-US' | translate }}</h1>
            <P>
                “Admiral Travel Group” {{'HOME.TEXT' | translate }}
                „Admiral Rafting Group”, {{'HOME.RESTAURANT' | translate }}  „Admiral Café-bar” <br>
                {{'HOME.CARS' | translate }} „Admiral Cars”;
            </P>
    
            </div>

    </div>

    
</section>

<br>
<br>