header{
// width: 1920px;
  height: 56px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background-color: var(--blue-color);



.navbar {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
.centered-tags {
  flex-grow: 1;
  display: flex;
  justify-content:center;
  align-items: center;
    // margin-left:400px;
  margin-left:25rem;
}
  
  a {
    color:#FFFFFF;
    text-decoration: none;
  }
  
  .tag {
    display: flex;
    align-items: center;
    margin: 16px;
    justify-content: center;

    
  }
  
  .tag .icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  
  
  .right-aligned-tags {
    display: flex;
    align-items: center;
    margin-right: 204px;
  }
  
  .right-aligned-tags .social-media {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }
  
  .right-aligned-tags select {
    color: white;
    width: 34px;
    height: 22px;
    padding-left: 8px;
    cursor: pointer;
    font-size:16px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      border: none;
      // padding: 5px;
      text-decoration:underline;

    
  }
      select option {
        color: white;
        // padding: 4px;
        cursor:pointer;
        overflow: hidden;
        background-color: var(--blue-color);

    }

    // option:hover {
    //   cursor:pointer;
    // }

  
}