<header>
            
<nav class="navbar">
  <div class="centered-tags">
    <div class="tag">
      <img src="/assets/icons/email.svg" alt="email" class="icon">
      <a href="#">admiral@gmail.com</a>
    </div>
    <div class="tag">
      <img src="/assets/icons/mobile.svg" alt="phone" class="icon">
      <a href="#">0322 4444444</a>
    </div>
  </div>
  <div class="right-aligned-tags">
    <img src="/assets/icons/facebook.svg" alt="facebook" class="social-media" (click)="goToFacebook()">
    <img src="/assets/icons/instagram.svg" alt="instagram" class="social-media" (click)="goToInstagram()">
    <label class="languages" for="">
      <select id="select" class="text-uppercase"  #langselect (change)="translate.use(langselect.value)">
        <option *ngFor="let lang of translate.getLangs()" class="text-uppercase" [value]="lang">{{lang}}</option>
      </select>
    </label>
  </div>
</nav>


</header>


