footer{
    bottom: 0;
    z-index: 1;
    max-width: 100%;
    background-color: var(--blue-color);
    color:#fff;
    font-size: 14px;

    section{
      border-top: 1px solid #ddd;
      padding: 15px 80px;  
    
    a {
    color:white;
}
    }

}

.tag {
    display: flex;
    justify-content:space-between;
}
  
p{
    display: flex;
    justify-content: end;
}

.social {
    cursor: pointer;
}