<footer class="container ">
        
    <section class="row">
      <!-- <div class="col-6"> -->
        <div class="tag">
          <img src="/assets/icons/address.svg" alt="email" class="icon">
          <a href="#">Pekin Ave#2</a>
        </div>
        <div class="tag">
          <img src="/assets/icons/email.svg" alt="email" class="icon">
          <a href="#">admiral@gmail.com</a>
        </div>
        <div class="tag">
          <img src="/assets/icons/mobile.svg" alt="phone" class="icon">
          <a href="#">032 2 7777777</a>
        </div>
        <!-- <div class="col"> -->
        <div class="social">
          <img src="/assets/icons/facebook.svg" alt="facebook" class="social-media" (click)="goToFacebook()"> 
          <img src="/assets/icons/instagram.svg" alt="facebook" class="social-media" (click)="goToInstagram()">
        </div>
        <!-- </div> -->

        <!-- <div class="col-6"> -->

          <p>@ 2023 Admiral Travel Group - All Rights Reserved.</p>
          


        <!-- </div> -->
      


      <!-- </div> -->
    </section>


  </footer>

