<footer class="container ">
        
    <section class="row">
        <div class="tag">
          <div>
            <img src="/assets/icons/location.svg" alt="email" class="icon">
            <a href="#">Pekin Ave#2</a>

          </div>
          <div>
            <img src="/assets/icons/email.svg" alt="email" class="icon">
            <a href="#">info@admiral.ge</a>

          </div>

          <div>
            <img src="/assets/icons/mobile.svg" alt="phone" class="icon">
            <a href="#">032 2 7777777</a>

          </div>
          <div class="social">
            <img src="/assets/icons/facebook.svg" alt="facebook" class="social-media" (click)="goToFacebook()"> 
            <img class="instagram" src="/assets/icons/instagram.svg" alt="instagram" class="social-media" (click)="goToInstagram()">
          </div>

        </div>


          <p>@ 2023 Admiral Travel Group - All Rights Reserved.</p>

    </section>


  </footer>

