<div class="background-image">
  <section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="border">
        <h5>{{'HOME.CONTACT-INFO' | translate}}</h5>
        <br>
        <ul class="info">
            <li class="adress">
                <img src="assets/icons/location.svg" alt="adress">
                <a href="#">{{'HOME.ADRESS' | translate }}</a>
            </li>
            <li class="email">  
              <img src="assets/icons/email.svg" alt="email">       
              <a href="mailto:info@oktravel.ge">info@smart.ge</a>
            </li>
            <li class="phone">
              <img src="assets/icons/mobile.svg" alt="phone">
              <a href="tel:(032) 2 77 77 77">(032) 2 77 77 77</a>
            </li>  

          </ul>

    </div>

</section>

</div>

