<app-fast-contact></app-fast-contact>
<header>
  <app-logo></app-logo>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">{{'HOME.MAIN' | translate }}</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/about-us" routerLinkActive="active-link">{{'HOME.ABOUT-US' | translate }}</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/outbound-tours" routerLinkActive="active-link">{{'HOME.OUTBOUND' | translate }}</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/local-tours" routerLinkActive="active-link">{{'HOME.LOCAL' | translate }}</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/transfers" routerLinkActive="active-link">{{'HOME.TRANSFERS' | translate }}</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/blog" routerLinkActive="active-link">{{'HOME.BLOG' | translate }}</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/contact-us" routerLinkActive="active-link">{{'HOME.CONTACT' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

<!-- <header>
  <nav class="navbar">
    <ul>
      <li class="home" >
        <a  routerLink="/">{{'HOME.MAIN' | translate }}</a>
      </li>
      <li class="home">
        <a routerLink="/about-us">{{'HOME.ABOUT-US' | translate }}</a>

      </li>
      <li class="home">
        <a routerLink="/outbound-tours">{{'HOME.OUTBOUND' | translate }}</a>
      </li>
      <li>
        <a routerLink="/local-tours">{{'HOME.LOCAL' | translate }}</a>

      </li>
      <li>
        <a routerLink="/transfers">{{'HOME.TRANSFERS' | translate }}</a>
      </li>
      <li>
        <a routerLink="/blog">{{'HOME.BLOG' | translate }}</a>
      </li>
      <li>
        <a routerLink="/contact-us">{{'HOME.CONTACT' | translate }}</a>
      </li>
    </ul>

  </nav>
</header> -->