
.cover-photo {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
  }
  
  .cover-photo img {
    display: block;
    width: 100%;
    height: auto;
  }

  .cover-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size:40px;
    font-weight: bold;
  
  }
  
  .cover-span {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
  }


  

//start about-us section

.about-us {
  height: 40rem;
  margin-top:144px;
  margin-left: 204px;
  h1 {
height: 76px;

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 76px;
display: flex;
align-items: flex-end;
text-align: center;
margin-top: 4rem;
left: 996px;
position: absolute;
color: #000000;
}

  p{
position: absolute;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: flex-end;
text-align: center;
left: 980px;
margin-top: 176px;
color: #000000;

  }

  .btn {
    background-color: #F2BC4B !important;
    border-radius: 8px;
    border:none;
    position: absolute;
    width: 232px;
    height: 64px;
    left: 996px;
    top: 1307px;
a {
  position: absolute;
  width: 81px;
  height: 22px;
  left: 75px;
  top: 21px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

  }

img {
position: absolute;
width: 744px;
height: 464px;
left: 204px;
top: 1001px;

border-radius: 8px;
  }
}


//start outbound-tours and local-tours section 


.outbound-tours, .local-tours {
  margin-left: 204px;
  margin-top:2rem; 
  

  h1{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 56px;

}


.card {
  border: none;
  width: 360px;
  height: 25rem;

}




.card-img-top {
  width: 360px;
  height: 25rem;
  left: 972px;
  top: 1805px;
  border-radius: 8px;

}


// start card body text

.card-body {
  top: 2229px;
  margin-top:24px;
  background-color: #EBECEE;
  border-radius: 8px;
  width: 360px;
  height: 96px;
}

.card-title{
  height: 22px;
  color: var(--blue-color);
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;
padding: 8px;

}
.card-date {
  height: 22px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 8px;
  
}

.first-line {
  display: flex;
  justify-content: space-between;
}

h5, p {
  display: inline !important;
  padding:16px;
}

.second {
  font-weight: bold;
}


.second-line{
  margin-top:16px;
}


.card-container {
  display: flex;
}


}

//start transfers section

.transfers {
  margin-left: 204px;
  margin-top:2rem; 
  

  h1{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  font-size: 56px;

}


.card {
  border: none;
  width: 360px;
  height: 400px;
  
}
.car-photo {
  width: 744px;
  height: 568px;
  border-radius: 8px;  
  top: 3525px;


}

.row {
  width: 1536px;
}


.card-body {
  margin-top:24px;
  background-color: #EBECEE;
  border-radius: 8px;
  width: 744px;
  height: 96px;
}

.card-title{
  height: 22px;
  color: var(--blue-color);
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 22px;

}




.card-date {
  height: 22px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 8px;
  
}

.first-line {
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  img {
    width: 24px;
    height: 21px;

  }
}

h5, p {
  display: inline !important;
  padding:16px;
}

.second {
  font-weight: bold;
}


.second-line{
  margin-top:16px;
  margin-left:4px;

  img {
    height: 16px;
    width: 16px;
  }
  p {
    margin:12px;

  }
}
}

//start blog section 

.blog {
  margin-left: 204px;
  h1 {
height: 76px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 76px;
display: flex;
align-items: flex-end;
text-align: center;
margin-top: 4rem;
left: 996px;
position: absolute;
color: #000000;
margin-top:5rem;
}
h3 {
  height: 44px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  margin-top: 12rem;
  left: 996px;
  position: absolute;
    }

  p{
position: absolute;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: flex-end;
text-align: center;
left: 980px;
margin-top: 176px;
color: #000000;
margin-top:17rem;


  }

  .btn {
    background-color: #F2BC4B !important;
    border-radius: 8px;
    border:none;
    position: absolute;
    width: 232px;
    height: 64px;
    left: 996px;
    margin-top:34rem;

a {
  position: absolute;
  width: 81px;
  height: 22px;
  left: 75px;
  top: 21px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

  }

img {
position: absolute;
width: 744px;
height: 568px;
left: 204px;
top: 4413px;
border-radius: 8px;
margin-top: 4rem;

  }

}



  .short-line1 {
    margin-left: 204px;
    margin-right: 204px;
    border-top: 1px solid #227EAC;
    height: 8px;
    margin-top:32px;
  }
  .short-line2 {
    margin-left: 204px;
    margin-right: 204px;
    border-top: 1px solid #227EAC;
    height: 8px;
    margin-top:240px;

  }
  .short-line3 {
    margin-left: 204px;
    margin-right: 204px;
    border-top: 1px solid #227EAC;
    height: 8px;
    margin-top:248px;


  }
  .short-line4 {
    margin-left: 204px;
    margin-right: 204px;
    border-top: 1px solid #227EAC;
    height: 8px;
    margin-top:416px
  }




