<!-- <div class="background-image"></div> -->
<div class="cover-photo">
    <img src="/assets/images/cover.svg" alt="Cover Photo">
    <div class="cover-text"></div>
    <p class="cover-text">{{'HOME.COVER-TEXT' | translate }} </p>
    <span class="cover-span">{{'HOME.COVER-SPAN' | translate }}</span>
  </div>
  




<section class="about-us">
  <div class="row">
    <div>
      <img src="/assets/images/photo-about.svg" class="img-fluid" alt="about-us">
    </div>

  <div>
    <h1>{{'HOME.ABOUT-US' | translate }}</h1>
    <P class="col-4">
      “Admiral Travel Group” {{'HOME.TEXT' | translate }} ...
    </div>

   <div>
    <a  routerLink="/about-us" class="btn btn-primary">{{'HOME.BUTTON' | translate}}</a>
  </div>

</div>
</section>
<div class="short-line"></div>

<section class="outbound-tours">
  <h1>{{'HOME.OUTBOUND' | translate }}</h1>
<br>

    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <div class="card" style="width: 22.5rem;">
            <img class="card-img-top" src="/assets/images/tour.svg" alt="Card image cap">
            
            <div class="card-body">
              <img src="/assets/icons/location.svg" alt="location">

              <h5 class="card-title">Paris</h5>
              <img src="/assets/icons/airplan.svg" alt="airplain">

              <p class="card-text">Price: 1000$</p>
              <p>Date:10.10.2023</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/tour.svg" alt="Card image cap">
            <div class="card-body">
              <img src="/assets/icons/location.svg" alt="location">

              <h5 class="card-title">Paris</h5>
              <img src="/assets/icons/airplan.svg" alt="airplain">

              <p class="card-text">Price: 1000$</p>
              <p>Date:10.10.2023</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/tour.svg" alt="Card image cap">
            <div class="card-body">
              <img src="/assets/icons/location.svg" alt="location">

              <h5 class="card-title">Paris</h5>
              <img src="/assets/icons/airplan.svg" alt="airplain">

              <p class="card-text">Price: 1000$</p>
              <p>Date:10.10.2023</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/tour.svg" alt="Card image cap">
            <div class="card-body">
              <img src="/assets/icons/location.svg" alt="location">

              <h5 class="card-title">Paris</h5>
              <img src="/assets/icons/airplan.svg" alt="airplain">

              <p class="card-text">Price: 1000$</p>
              <p>Date:10.10.2023</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
  </div>
  </div>

</section>

<!-- <div class="short-line"></div> -->

<!-- <section class="local-tours">
  <h1>
    Local Tours
  </h1>
<br>

    <div class="container text-center">
      <div class="row align-items-start">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/tour.svg" alt="Card image cap">
            <div class="card-body">
              <img src="/assets/icons/location.svg" alt="location">

              <h5 class="card-title">Paris</h5>
              <img src="/assets/icons/airplan.svg" alt="airplain">

              <p class="card-text">Price: 1000$</p>
              <p>Date:10.10.2023</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/tour.svg" alt="Card image cap">
            <div class="card-body">
              <img src="/assets/icons/location.svg" alt="location">

              <h5 class="card-title">Paris</h5>
              <img src="/assets/icons/airplan.svg" alt="airplain">

              <p class="card-text">Price: 1000$</p>
              <p>Date:10.10.2023</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/tour.svg" alt="Card image cap">
            <div class="card-body">
              <img src="/assets/icons/location.svg" alt="location">

              <h5 class="card-title">Paris</h5>
              <img src="/assets/icons/airplan.svg" alt="airplain">

              <p class="card-text">Price: 1000$</p>
              <p>Date:10.10.2023</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/images/tour.svg" alt="Card image cap">
            <div class="card-body">
              <img src="/assets/icons/location.svg" alt="location">

              <h5 class="card-title">Paris</h5>
              <img src="/assets/icons/airplan.svg" alt="airplain">

              <p class="card-text">Price: 1000$</p>
              <p>Date:10.10.2023</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
  </div>
  </div>

</section> -->

<!-- <div class="short-line"></div> -->


<section class="transfer">

  <!-- //2 card -->

</section>

<!-- <div class="short-line"></div> -->

<section class="blog">

  <!-- //1 card and text -->

</section>

<!-- <div class="short-line"></div> -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<br>