
// .background-image {
//     background-color: #89B9E1;
//     background-image: url('/assets/images/6.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     padding:200px;
//     height: 100vh;
//     // width: 5979px;
//     // height: 3986px;
    

// }

.cover-photo {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
  }
  
  .cover-photo img {
    display: block;
    width: 100%;
    height: auto;
  }
  

