<div class="cover-photo">
    <img src="/assets/images/cover.svg" alt="Cover Photo">
    <div class="cover-text"></div>
    <p class="cover-text">{{'HOME.COVER-TEXT' | translate }} </p>
    <span class="cover-span">{{'HOME.COVER-SPAN' | translate }}</span>
  </div>
  

<section class="about-us">
  <div class="row">
    <div>
      <img src="/assets/images/photo-about-us.svg" class="img-fluid" alt="about-us">
    </div>

  <div>
    <h1>{{'HOME.ABOUT-US' | translate }}</h1>
    <p class="col-4">
      “Admiral Travel Group” {{'HOME.TEXT' | translate }} ...
    </p>
    </div>

   <div class="btn btn-primary">
    <a  routerLink="/about-us" >{{'HOME.BUTTON' | translate}}</a>
  </div>

</div>
</section>

<div class="short-line1"></div>

<section class="outbound-tours">
  <h1>{{'HOME.OUTBOUND' | translate }}</h1>
<br>

    <div class="card-container">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/paris.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.PARIS' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text"> {{ 'HOME.PRICE' | translate }} : 1000$</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/bali.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.BALI' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text"> {{ 'HOME.PRICE' | translate }} : 1000$</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/italy.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.ITALY' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text"> {{ 'HOME.PRICE' | translate }} : 1000$ </p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/italy2.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.ITALY' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text"> {{ 'HOME.PRICE' | translate }} : 1000$ </p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>

</section>



<div class="short-line2" ></div>

<section class="local-tours">
    <h1>{{'HOME.LOCAL' | translate }}</h1>
<br>

    <div class="card-container">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/local1.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.KAKHETI' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text">{{ 'HOME.PRICE' | translate }} : 200₾</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/local3.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.KAZBEGI' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text">{{ 'HOME.PRICE' | translate }} : 500₾</p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/local4.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.BATUMI' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text"> {{ 'HOME.PRICE' | translate }} : 1000₾ </p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="/assets/images/ananuri.svg" alt="Card image cap">
            <div class="card-body">
              <div class="first-line">
                <div class="first">
                  <img  src="/assets/icons/location.svg" alt="location">
                  <h5 class="card-title">{{'HOME.ANANURI' | translate }}</h5>
                </div>
                <div class="second">
                  <p class="card-text">{{ 'HOME.PRICE' | translate }} : 100₾ </p>
                </div>
              </div>
              <div class="second-line">
                <img class="airplain" src="/assets/icons/airplan.svg" alt="airplain">
                <p class="card-date">01.10.2023</p>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>

</section>


<div class="short-line3" ></div>

<section class="transfers">
  <h1>{{'HOME.TRANSFERS' | translate }}</h1>
<br>

  <div class="card-container">
    <div class="row">
      <div class="col">
        <div class="card">
          <img class="car-photo" src="/assets/images/jeep.svg" alt="Card image cap">
          <div class="card-body">
            <div class="first-line">
              <div class="first">
                <img  src="/assets/icons/car.svg" alt="location">
                <h5 class="card-title">Jeep</h5>
              </div>
              <div class="second">
                <p class="card-text">{{ 'HOME.PRICE' | translate }} : 100$ </p>
              </div>
            </div>
            <div class="second-line">
              <img class="airplain" src="/assets/icons/person.svg" alt="airplain">
              <p class="card-date">{{ 'HOME.PASSANGER' | translate }} - 4</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img class="car-photo"  src="/assets/images/miniven.svg" alt="Card image cap">
          <div class="card-body">
            <div class="first-line">
              <div class="first">
                <img  src="/assets/icons/car.svg" alt="location">
                <h5 class="card-title">Miniven</h5>
              </div>
              <div class="second">
                <p class="card-text">{{ 'HOME.PRICE' | translate }} : 100$ </p>
              </div>
            </div>
            <div class="second-line">
              <img class="airplain" src="/assets/icons/person.svg" alt="airplain">
              <p class="card-date">{{ 'HOME.PASSANGER' | translate }} - 8 </p>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</section>



<div class="short-line4"></div>

<section class="blog">
  <div class="row">
    <div>
      <img src="/assets/images/blog.svg" class="img-fluid" alt="blog">
    </div>

  <div>
    <h1>{{'HOME.BLOG' | translate }}</h1>
    <h3>{{'HOME.BEST' | translate }} 2023</h3>
    <p class="col-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur consequuntur iusto, fuga quam porro cupiditate eaque velit nemo! Perspiciatis obcaecati tenetur cum ad? Distinctio reprehenderit quod itaque temporibus adipisci molestias.      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur consequuntur iusto, fuga quam porro cupiditate eaque velit nemo! Perspiciatis obcaecati tenetur cum ad? Distinctio reprehenderit quod itaque temporibus adipisci molestias.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur consequuntur iusto, fuga quam porro cupiditate eaque velit nemo! Perspiciatis obcaecati tenetur cum ad? Distinctio reprehenderit quod itaque temporibus adipisci molestias.


    </p>
    </div>

   <div class="btn btn-primary">
    <a  routerLink="/blog" >{{'HOME.BUTTON' | translate}}</a>
  </div>

</div>
</section>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
